<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
        <h3><strong>Our Address</strong></h3>
        <address style="font-size: 100%">
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONK KONG<br>
          <i class="ion-ios-telephone"></i>: +852 1234 5678<br>
          <i class="ion-printer"></i>: +852 8765 4321<br>
          <i class="ion-email"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
      </div>
    </div>
    <div class="button-bar">
      <a class="button button-positive ion-ios-telephone" href="tel:+85212345678"> Call</a>
      <a class="button button-calm ion-social-skype"> Skype</a>
      <a class="button button-balanced ion-email" href="mailto:confusion@food.net"> Email</a>
    </div>
  </ion-content>
</ion-view>
